scratchTest.py
__pycache__/
*.pyc



resources/CharSheet.pdf

inputClasses.py

# Ignore specific folders in Sources
5eCharGenerator/Sources/PHB/
5eCharGenerator/Sources/TCE/
5eCharGenerator/Sources/XGE/

# Ignore the resources folder in final distributions
resources/
!resources/CharSheetPDFVariables.xlsx
